@import "/public/fonts/css/satoshi.css";
@import "/public/fonts/css/EBGaramond.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  max-width: 1150px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 83%;
  }
}
.auth_container {
  max-width: 1360px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .auth_container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .auth_container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .auth_container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .auth_container {
    width: 80%;
  }
}
@layer base {
  body {

    font-family: 'satoshi';
  }
}

.ant-form-item-explain-error {

  @apply text-xs font-light mt-2
}

.btn-light {

  @apply border-none text-black border-2 px-10 py-3 rounded-md text-sm
}

.btn-brand {

  @apply border-brand bg-brand text-black font-Satoshi500 border-2 px-10 py-3 rounded-full text-[16px]
}

.btn-light-border {

  @apply border-white text-white border-2 px-10 py-3 rounded-md text-sm
}

.btn-brand-white {

  @apply border-white bg-white text-brand border-2 px-10 py-3 rounded-md text-sm
}

.btn-business {

  @apply bg-brand text-gray-100 lg:px-8 py-3 w-[60%] rounded-full text-[14px]
}

input {
  @apply outline-none
}

.dropdown-item {
  @apply flex flex-col gap-2 p-4 rounded-md bg-brand !text-gray-100 transition-colors ease-in-out duration-200
}

.dropdown-menu-title {
  @apply font-Satoshi700 text-brand
}

.dropdown-item:hover .dropdown-menu-title {
  @apply text-gray-100
}

h2 {
  @apply text-2xl font-semibold font-Satoshi500;
}

ol {
  @apply list-decimal ml-6;
}

@layer utilities {
  .tick {
    display: inline-block;
    width: 1.55rem;
    height: 0.5rem;
    border: 2px solid currentColor;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    margin-right: 0.25rem;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.error-msg {
  color: red;
  @apply text-[9px] font-Satoshi500;
}
/* Style the tabs */

.tabs {
  overflow: auto;
  column-gap: 25px;
  background: #F0F5F3;  padding-bottom: 0 !important;
  scroll-padding-bottom: 0;
  text-transform: capitalize !important;
  color: rgba(33, 37, 41, 0.6);
  @apply text-[14px] leading-[18.2px] font-Satoshi500 rounded-full
}

.tabs::-webkit-scrollbar {
  width: 0px;
}

.tabs a {
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
  color: rgba(0, 0, 0, 0.50);
  @apply  p-4 px-5 text-center
}

.tabs a:last-child {
  border-right: 0px solid #ccc;
}

/* Change background color of tabs on hover */
/* .tabs a:hover {
    color: #484848;
} */

/* Styling for active tab */
.tabs a.active {
  cursor: default;
  font-weight: 500;
  border: 0.521px solid #31795A;
   @apply text-brand bg-white rounded-full  text-center
}

/* Style the tab content */


.tabcontent .map {
  height: 173px;
  width: 220px;
  background: #D3EAFB;
  margin-left: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.tabcontent {
  padding-top: 10px;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.Vue-Toastification__toast {
  @apply font-Satoshi400
}

.Vue-Toastification__toast--error svg {
  @apply !text-red-500
}

.Vue-Toastification__toast--error {

  @apply !bg-white !text-black
}

.Vue-Toastification__toast--success {
  @apply !bg-white !text-black
}

.Vue-Toastification__toast--success svg {
  @apply !text-green-500
}
.editor ul{
  list-style-type: disc !important;
}
.editor p{
  @apply  flex flex-wrap break-words text-justify
}